{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
    <h1> Delete Post </h1>
    <form method="post" >
        {% csrf_token %}
        <p>Are you sure you want to delete post "{{ student }}"?</p>
        <input type="submit" value="confirm">
    </form>
{% endblock content %}
