{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
<h3>Title: {{blog.title}}</h3>
<hr>
<p>{{blog.content}}</p>
<hr>
<h3><i>By {{blog.author}}</i></h3>
<hr>

<form action="" id='comment_form' method='POST'>
    {%csrf_token%}
    {{form.as_p}}
    <button id='submit' name='submit' type="submit" class="btn btn-primary" >Comment</button>
</form>

<hr>
<h4>Comments</h4>
<div class="comments">
<table>
    <thead>
        <th></th>
        <th></th>
    </thead>
<tbody>
{% for comment in comments %}
        <tr id='comment-{{comment.id}}'>
            <td id={{comment.id}}>{{comment.content}}</td>
            <td><button id={{comment.id}} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>
            <td><button id={{comment.id}} type='button' class='bth btn-primary delete'>Delete</button></td>
        </tr>
{%endfor%}
</tbody>
<hr>
</div>



<!-- Modal -->
<div class="modal fade" id="CommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




<script>
function clear(form){
    // this function clear the value in placeholder after form submission.
    //form.querySelector('#id_content').forEach((element)=> element.value='');
    
    form.querySelector('input[name="content"]').value='';
}
//$(document).ready(function(){});
    // creating comment 
    // Since Comment has Blog as Foreign key we need the Blog instance to create Comment instance
    // i.e to which blog a comment belong to so for that we sent the blog id to query required blog 
    // and create comment instance for that blog
    $("#comment_form").on('submit',function(event){
       // console.log(this)
        let form = this
        event.preventDefault();
       // console.log(event);

        let formData = new FormData(this);
        //var data = JSON.stringify(Object.fromEntries(formData));
        let data = Object.fromEntries(formData);
        //let blog_obj = {{blog}};
        let blog_id = '{{blog.id}}';
        //console.log('blog_id',blog_id);
        //console.log(blog_obj);
        //data['blog'] = blog_obj;
        data['blog_id'] = blog_id;
        //console.log(data);
        //console.log(typeof(data));
            
        $.ajax({
            url:"{% url 'create_blogcomment' %}",
            data: data,
            method:"POST",
            success: function(response){
                console.log('After successful ajax call.')
                let instance = JSON.parse(response['instance']);
                let comment = instance[0]['fields']['content'];
                let comment_id = instance[0]['pk']
                let edit = `<td><button id=${comment_id} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>`
                let del = `<td><button id=${comment_id} type="button" class='bth btn-primary delete'>Delete</button></td>`
                console.log(response)

                let row = `<tr id='comment-${comment_id}'><td id=${comment_id}>`+comment+'</td>'+edit+del+'</tr>';
                $('tbody').prepend(row);
                clear(form);

            }
        })      
  });
//For displaying update form
$('.comments').on('click','.edit',function(event){
    //event.preventDefault()
    console.log('from edit')
    comment_id = $(this).attr('id')
    url = "{% url 'update_blogcomment' 1234 %}".replace(1234,comment_id),
        $.get(url, function(response){
            $('#CommentModal').modal('show')
            $('.modal-body').empty().append(response)

        })
})

//updating comment in database and html page
// for updating it is important to know which comment is being update and which blog it belongs to.
// we select the required comment and update it in database and html page.
// for updating in database we sent the pk of blog from post request and in the view we query required blog
// and create comment instance of particular blog and update
$('.modal-body').on('submit','.update_form', function(event){
    console.log($(this).attr('id'))
    comment_id = $(this).attr('id')
    url = "{% url 'update_blogcomment' 1234 %}".replace(1234,comment_id),
    console.log(url)
    event.preventDefault();
    // console.log(event);

    let formData = new FormData(this);
    //var data = JSON.stringify(Object.fromEntries(formData));
    let data = Object.fromEntries(formData);
    //let blog_obj = {{blog}};
    let blog_id = '{{blog.id}}';
    //console.log('blog_id',blog_id);
    //console.log(blog_obj);
    //data['blog'] = blog_obj;
    data['blog_id'] = blog_id;
    data['comment_id'] = comment_id;
    console.log(data);
    //console.log(typeof(data));
        
    $.ajax({
        url:url,
        data: data,
        method:"POST",
        success: function(response){
            console.log('After successful Update ajax call.')
            $('#CommentModal').modal('hide')

            //console.log(response)
            let instance = JSON.parse(response['instance']);
            let comment = instance[0]['fields']['content'];
            let comment_id = instance[0]['pk']
            //console.log("updated",comment)
            
            let edit = `<td><button id=${comment_id} type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>`
            let del = `<td><button id=${comment_id} type="button" class='bth btn-primary delete'>Delete</button></td>`
            //console.log(response)

            let row = `<tr id='comment-${comment_id}'><td id=${comment_id}>`+comment+'</td>'+edit+del+'</tr>';
            // first removing the old comment and adding new comment 
            $('tbody').find(`#comment-${comment_id}`).remove()

            $('tbody').prepend(row);
            //$('tbody').prepend(row);

        }
    })      

})
$('tbody').on('click','.delete', function(event){

    console.log(this)
    comment_id = $(this).attr('id')
    url = "{% url 'delete_blogcomment' 1234 %}".replace(1234,comment_id),
    console.log('gg')
    $.ajax({
        url:url,
        data: {

            csrfmiddlewaretoken: "{{csrf_token}}"
        },
        method:"POST",
        success: function(response){
            console.log('After successful Delete ajax call.')
            
                console.log(this)
            console.log(response)
            
            $('tbody').find(`#comment-${comment_id}`).remove()
            //$('tbody').prepend(row);

        }
    })      
})
</script>
{% endblock content %}



