{% block content %}
<form action="" method="POST" id={{id}} class='update_form'>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Save">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</form>
{% endblock content %}
