{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
    <p>This is a Blog Project with CRUD on comments using AJAX.</p>
    <p>Go to Blogs and comment on blog to try it out.</p>
{% endblock content %}
