{%extends 'base.html'%}
{%block title%}
<title>Home</title>
{%endblock title%}

{% block content %}
    
<table>
    <thead>
        <th>Title</th>
        <th>Author</th>
    </thead>
<tbody>
{% for blog in blogs %}
        <tr>
            <td><b><a href="{% url 'blog_detail' blog.pk%}">{{blog.title}}</a></b></td>
            <td><i>{{blog.author}}</i></td>
        </tr>
{%endfor%}
</tbody>
</table>
{% endblock content %}
