<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    {%block head%}
    {%endblock head%}
</head>
<body>
    {%block content%}    
    {%endblock content%}    
</body>
</html>
