{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
<h2>Roll Number:{{student.roll_num}}</h2> 
<h2>Name:{{student.fullname}}</h2> 
<h2>Email:{{student.email}}</h2> 
<h2>Contact:{{student.contact}}</h2> 
{% endblock content %}



