{% extends 'base.html' %}
{%block title%}
<title>Update</title>
{%endblock title%}

{% block content %}
<form action="" method='POST'>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Update">
</form>
{% endblock content %}
