{%extends 'base.html'%}
{%block title%}
<title>Home</title>
{%endblock title%}

{% block content %}
    <a href="{% url 'create_student' %}">Create Student</a>
    <hr>
    
<table>
    <thead>
        <th>Roll Number</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Contact</th>
    </thead>
<tbody>
{% for student in students %}
        <tr>
            <td>{{student.roll_num}}</td>
            <td>{{student.fullname}}</td>
            <td>{{student.email}}</td>
            <td>{{student.contact}}</td>
            <td><button><a href="{% url 'update_student' student.pk%}">Edit</a></button></td>
            <td><button><a href="{% url 'delete_student' student.pk%}">Delete</a></button></td>
        </tr>
{%endfor%}
</tbody>
</table>
{% endblock content %}
