<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock title %}
</head>
<body>

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'employee_list' %}">Employee</a>
    <a href="{% url 'student_list' %}">Student</a>
    <hr>


    
    {% block content %}    
    {% endblock content %}    
</body>
</html>
