{% extends 'base.html' %}
{%block title%}
<title>Create</title>
{%endblock title%}

{% block content %}
<form action="" method='POST'>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock content %}
