{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
<h2>Name:{{emp.emp_name}}</h2> 
<h2>Email:{{emp.emp_email}}</h2> 
<h2>Contact:{{emp.emp_contact}}</h2> 
{% endblock content %}



