{% extends 'base.html' %}
{%block title%}
{%endblock title%}

{% block content %}
    <p>Employee CRUD is implemented using Function Based View.</p>
    <p>Student CRUD is implemented using Class Based View.</p>
{% endblock content %}
