{%extends 'base.html'%}
{%block title%}
<title>Home</title>
{%endblock title%}

{% block content %}
    <a href="{% url 'create_employee' %}">Create Employee</a>
    <hr>
    
<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
    </thead>
<tbody>
{% for emp in employees %}
        <tr>
            <td><a href="{%url 'employee_detail' emp.id%}">{{emp.emp_name}}</a></td>
            <td>{{emp.emp_email}}</td>
            <td>{{emp.emp_contact}}</td>
            <td><button><a href="{% url 'edit_employee' emp.id%}">Edit</a></button></td>
            <td><button><a href="{% url 'delete_employee' emp.id%}">Delete</a></button></td>
        </tr>
{%endfor%}
</tbody>
</table>
{% endblock content %}
