{%extends 'base.html'%}
{%block title%}
<title>Search by Author</title>
{%endblock title%}

{%block content%}
<form action="" method="POST" id="author-search-form">
    {%csrf_token%}
    {{form.as_p}}
    <button type='submit'>Search</button>
</form>

<table>
    <thead>

    </thead>
<tbody>
</tbody>
</table>

<script>
function clear(form){
    // this function clear the value in placeholder after form submission.
    //form.querySelector('#id_content').forEach((element)=> element.value='');
    
    form.querySelector('input[name="author_name"]').value='';
}

    $("#author-search-form").on('submit',function(event){
        event.preventDefault();

        let formData = new FormData(this);
        //var data = JSON.stringify(Object.fromEntries(formData));
        let data = Object.fromEntries(formData);
        console.log(data);
        $.ajax({
            url:"{% url 'author_name_query' %}",
            data: data,
            method:"POST",
            success: function(response){
                console.log('After successful ajax call.')
                console.log(response)

                let author= response['instance'];
                
                console.log('author',author);
                books = String(author.book)
                console.log(author.name,typeof(author.name))
                console.log(books,typeof(books))

                console.log(response)

                $('th').remove()
                $('table').find('.books').remove()

                let head = '<th>Title</th><th>Book</th>';
                $('thead').append(head);

                let row = `<tr class='books' id=${author.name}>`+'<td>'+author.name+'</td>' +
'<td>'+books+'</td>';
                $('tbody').prepend(row);

            }
        })      
        
        clear(this);
  });
</script>
{%endblock content%}
