{%extends 'base.html'%}
{%block title%}
<title>Home</title>
{%endblock title%}

{%block content%}
<form action="" method="POST" id="book-search-form">
    {%csrf_token%}
    {{form.as_p}}
    <button type='submit'>Search</button>
</form>

<table>
    <thead>

    </thead>
<tbody>
</tbody>
</table>

<script>
function clear(form){
    // this function clear the value in placeholder after form submission.
    //form.querySelector('#id_content').forEach((element)=> element.value='');
    
    form.querySelector('input[name="book_name"]').value='';
}

    $("#book-search-form").on('submit',function(event){
        event.preventDefault();

        let formData = new FormData(this);
        //var data = JSON.stringify(Object.fromEntries(formData));
        let data = Object.fromEntries(formData);
        console.log(data);
        $.ajax({
            url:"{% url 'book_name_query' %}",
            data: data,
            method:"POST",
            success: function(response){
                console.log('After successful ajax call.')

                let instance = JSON.parse(response['instance']);
                let book = instance[0]['fields'];
                console.log('instance',instance);
                
                console.log('book',book);
                console.log(book.name,typeof(book.name))

                console.log(response)

                $('th').remove()
                $('table').find('.books').remove()

                let head = '<th>Title</th><th>Price</th><th>Count</th>';
                $('thead').append(head);

                let row = `<tr class='books' id=${book.name}>`+'<td>'+book.name+'</td>' +
'<td>Rs.'+book.price+'</td>'+ '<td>'+book.count+'</td>'+
                    + '</tr>';
                $('tbody').prepend(row);

            }
        })      
        
        clear(this);
  });
</script>
{%endblock content%}
