{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "{%static 'js/jquery.js'%}"></script>
    {%block title%}
    {%endblock title%}
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'book_name_search' %}">Name Search</a>
    <a href="{% url 'book_author_search' %}">Author Search</a>


    {%block content%}    
    {%endblock content%}    
</body>
</html>
