{% extends 'base.html' %}
{%block title%}
<title>Create</title>
{%endblock title%}

{% block content %}
<form action="" id='comment_form' method='POST'>
    {%csrf_token%}
    {{form.as_p}}
    <input id='submit' name='submit' type="submit" value='comment'>
</form>

<table>
    <thead>
        <th></th>
    </thead>
<tbody>
        <tr>
            <td>Comments</td>
        </tr>
</tbody>
</table>

<script>
$(document).ready(function(){
    $("#comment_form").on('submit',function(event){
        console.log(this)
        event.preventDefault();
        console.log(event);

        let formData = new FormData(this);
        //var data = JSON.stringify(Object.fromEntries(formData));
        var data = Object.fromEntries(formData)
        console.log(data);
        console.log(typeof(data));
            
        $.ajax({
            url:"{% url 'create_comment' %}",
            data: data,
            method:"POST",
            success: function(response){
                console.log('After successful ajax call.')

                console.log(response);
                let instance = JSON.parse(response['instance']);
                let comment = instance[0]['fields']['content'];
                let row = '<tr><td>'+comment+'</td></tr>';
                $('tbody').append(row);

                //instance.forEach((comment)=>{
                //    let content = comment['fields']['content'];
                //    let row = '<tr><td>'+content+'</td></tr>';
                //    $('tbody').append(row);
                //})

            }
        })
    
      
  });
});
    
</script>

{% endblock content %}
