{%extends 'base.html'%}
{%block title%}
<title>Home</title>
{%endblock title%}

{% block content %}
    
    <a href="{% url 'create_comment' %}">Comment</a>
    <hr>
    

<table>
    <thead>
        <th></th>
    </thead>
<tbody>
{% for comment in comments %}
        <tr>
            <td>{{comment.content}}</td>
        </tr>
{%endfor%}
</tbody>
</table>
{% endblock content %}
