{% extends 'base.html' %}
{%block content%}
<h1>Welcome to About Us Page.</h1>


<form action="" method=''>
    <p><input type="text" name='title'></p>
    <p><input type="submit"></p>
</form>

<h2>Using Django Form</h2>
<form action="" >
{{form}}
</form>

{%endblock content%}
