{% extends 'base.html' %}

{%block content%}
<h2>Using Django Forms</h2>
        {% if form.errors %}
        <div class="alert alert-danger"> {{form.non_field_errors}}  </div>
        {% endif %}
<form action="" method="POST">
    {%csrf_token%}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      {{form.title}}
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Content</label>
      {{form.content}}
    </div>
        <input type="submit">
    </form>

{% for article in articles %}
    <hr>
    <p>Title:{{article.title}}</p>
    <p>Content:{{article.content}}</p>
    <hr>
    
{%endfor%}
{%endblock content%}
