<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
    {% endblock head %}
</head>
<body>
    <a href="{%url 'home'%}">Home</a>
    <a href="{%url 'about'%}">About Us</a>
    <a href="{%url 'contact'%}">Contact Us</a>
    <a href="{%url 'article'%}">Article</a>
    <a href="{%url 'student_detail'%}">Student_Detail</a>
    <a href="{%url 'expense_list'%}">Expense_List</a>
    <a href="{%url 'feedback'%}">Feedback</a>
    <a href="{%url 'registration'%}">Registration</a>
    


    {%block content%}
    {%endblock content%}
</body>
</html>
