{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Contact Us Page.</h1>

<form action="" method="POST">
    {%csrf_token%}
<p>Email: <input type="text" name='email'></p>
<p>Message: <input type="text" name='message'></p>
<p><input type="submit"></p>

</form>
<p>{{email}}
</p>
<p>{{message}}</p>
{% endblock content %}
