{% extends 'base.html' %}
{% block content %}
<h1>Expenses</h1>
{% for expense in expenses %}
<a href="{% url 'expense_detail' expense.title %}">{{expense.title}}</a> </br>
{%endfor%}
<h1>Add New Expense</h1>
<form action="" method='POST'>
    {%csrf_token%}
    Title: <input type="text" name='title' required> 
    Amount: <input type="number" name='amount' required>
    <input type="submit">
</form>
{% endblock content %}

