{% extends 'base.html' %}
{%block content%}
{% if form.errors %}
        <div class="alert alert-danger"> {{form.non_field_errors}}  </div>
{% endif %}
    <h1>{{message}}</h1>
<form action="" method="POST">

    {%csrf_token%}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      {{form.title}}
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Content</label>
      {{form.content}}
    </div>
        <input type="submit">
    </form>

{% for feedback in feedbacks %}
    <hr>
    <p>Title:{{feedback.title}}</p>
    <p>Content:{{feedback.content}}</p>
    <hr>
    
{%endfor%}
{%endblock content%}
