{% extends 'base.html' %}
{%block content%}
<h1>Welcome to Home Page.</h1>
<h2>Name:{{name}}</h2>
<h2>Age:{{age}}</h2>
<h2>Address:{{address}}</h2>


<h2>About Job:{{about_job.company}}</h2>
<h2>Address:{{about_job.address}}</h2>

<h2>Sending Names as list</h2>
{% for name in names %}
    <h3>{{name}}</h3>
{%endfor%}

{%endblock content%}
