{% extends 'base.html' %}

{%block head%}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  margin: auto;
}
</style>

{%endblock head%}

{%block content%}
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Roll_no</th>
        <th>Address</th>
        <th>Number</th>
        <th>Email</th>
    </tr>
    {%for student in students%}
    <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.roll_no}}</td>
        <td>{{student.address}}</td>
        <td>{{student.number}}</td>
        <td>{{student.email}}</td>
    </tr>
    {%endfor%}
</table>
{%endblock content%}
